# scope: coldfusion
snippet cfdump
	<cfdump top="2" var="#${1:variable}#" />
	$0
	
snippet cfloop
	<cfloop array="#${1:array}#" item="#${2:item}#" ${3:index="${4:index}"}>
		$0
	</cfloop>
	
snippet cfrbkey
	#$.slatwall.rbkey('${1:key}')#$0